@import url('https://fonts.googleapis.com/css2?family=Praise&family=Roboto:ital,wght@1,700&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(155, 221, 199);
}

ul {
  position: relative;
  float: right;
}

ul li {
  display: inline-flex;
  padding: 15px;
  margin: 10px 20px 0 0;
  border: 1px solid black;
}

ul li a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  padding: 80px;
  font-family: 'Praise', cursive;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  width: 50%;
  text-align: center;
  margin: 40px auto;
  padding: 20px;
  font-style: italic;
}
